@tailwind base;
@tailwind components;
@tailwind utilities;

input[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0; /* Hide visually */
  cursor: pointer; /* Show clickable cursor */
  position: absolute; /* Take out of normal flow */
  right: 0; /* Position to the right */
  width: 100%; /* Cover full input */
}
